body {
    justify-items: center;
    background-color: black;
}

.container {
    text-align: center;
    height: 500px;
    width: 500px;
    margin: 50px;
    background-color: white;
    border-radius: 15px;
}

.container__title {
    padding-top: 20px;
    font-family: Robot;
}

.box {
    margin-top: 80px;
}

.box__auth {
    margin-bottom: 15px;
}

.box__auth label {
    display: block;
    margin-bottom: 5px;
    font-family: Robot, sans-serif;
    color: black;
}
.box__auth input {
    height: 25px;
    width: 350px;
    padding: 8px 8px;
    border: 1px solid gainsboro;
    border-radius: 4px;
    font-size: 16px;
    text-align: center;
}

button {
    margin-top: 40px;
    height: 35px;
    width: 250px;
    background-color: black;
    border-color: transparent;
    border-radius: 4px;
    font-family: Robot;
    font-size: 16px;
    color: white;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

button:hover {
    background-color: gainsboro;
    color: black;
}