@font-face {
    font-family: 'Robot';
    src: url(../assets/fonts/Robot/Roboto-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: 'Benzin';
    src: url(../assets/fonts/Benzin/Benzin-Regular.ttf);
}

body {
    background-color: white ;
}

button {
    cursor: pointer;
}