.knowledge-topPanel{
    background-color: white;
    height: 50px;
    border-radius: 5px;
}

.knowledge-topPanel-homeBtn{
    height: 50px;
    width: 200px;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    font-family: Robot;
    font-weight: bold;
    font-size: 24pt;
}

.knowledge-topPanel-loginBtn{
    height: 30px;
    width: 80px;
    float: right;
    margin: 10px 15px 0px 0px;

    border-radius: 5px;
    background-color: black;

    font-family: Robot;
    font-weight: bold;
    font-size: 14pt;
    color: white;

    cursor: pointer;
}

.knowledge-intro{
    height: 450px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: white;
}

h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.knowledge-intro-infoText{
    font-size: 24px;
}